<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
    <% include ../partials/head.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div id="new-stray">
      <h1>Input New Event Info</h1>
      <div id="stray-form">
        <form class action="/events" method="POST">
          Title: <input type="text" name="title" placeholder="title">
          Info: <input type="text" name="paragraph" placeholder="paragraph">
          Image: <input type="text" name="img" placeholder="img link">
          Date(mm/dd): <input type="text" name="date" placeholder="string">
          Location: <input type="text" name="Location" placeholder="location">
          <input type="submit" value="New Event">
        </form>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
