<div class="footer">
  <div class="third"><p class="footer-p">A Joseph Weber Joint</p></div> | <div class="third"><a href="https://joseph-weber.github.io/">Designer</a></div>|<div class="third"><p class="footer-p">Designed at General Assembly</p></div>
</div>
