<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div>
        <h1>Welcome to Pawsibilities Animal Shelter</h1>
      </div>
    </nav>
  </body>
</html>
