<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./main.css">
      <link rel="stylesheet" href="../../header.css">
   <meta charset="utf-8">
   <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
   <% include ./partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="about-us-container">
      <h1>About Us</h1>
      <p>We are a no kill animal shelter dedicated to providing quality care and accommodations for all of our dogs and cats. Our ultimate goal is for each animal to find a forever home. Please join us in heling all of friends find their family</p>
      <img src="https://www.fourpaws.com/-/media/images/fourpaws-na/us/articles/dogs-and-cats-happy-dog-happy-cat.jpg">
    </div>
  </body>
</html>
