<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="./navlinks.css">
   <link rel="stylesheet" href="./header.css">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <title></title>
</head>
  <body>
        <% include ./partials/head.ejs %>
        <div class = "donationdiv">
          <h1>Please think of us in your yearly givings</h1>
          <div id="donate-buttons">
            <a href="#"><button type="button" name="button">Donate $20</button></a>
            <a href="#"><button type="button" name="button">Donate $50</button></a>
            </div>
          <p>We need help providing treatments, maintaining our facilities and increasing our outreach. Without friends like you, we would be unable to complete our mission of helping all of our furry friends in Pinellas County. We kindly ask you to donate what you can to our programs</p>
          <img src="donation.png" alt="Dog Wash">
        </div>
  </body>
</html>
