<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="./main.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
<body>
  <h1>Meet Our Two Newest furriends</h1>
</body>
</html>
