<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <% include ./partials/head.ejs %>
     <link rel="stylesheet" href="./main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<a href="/users/new"><button class="btn" type="button" name="button">New Account</button></a>
<a href="/sessions/new"><button type="button" name="button" class="btn">Log In</button></a>
  </body>
</html>
