<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="./main.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
<body>
  <h1>Meet Our Two Newest furriends</h1>
<div id="friends">
  <% for(let i=0; i< strays.length; i++) { %>
    <div class="new-friend">
      <h2> <%= strays[i].name %> </h2>
      <a href="strays/<%=strays[i].id%>"><img src="<%= strays[i].img %>"></a>
    </div>
  <% } %>
</div>
</body>
</html>
