body {
  max-width: 1200px;
  font-family: 'Merriweather', serif;
  min-width: 931px;
  margin: 0 auto;
}

.nav {
  background: linear-gradient(white, rgb(158, 220, 249));
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0;
  border: 1px solid purple;
}

#buttons {
  text-align: left;
}

.new-volunteer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  background: linear-gradient(green, white);
  border-radius: 10px;
  justify-content: center;
  border: 1px solid blue;
}
.new-volunteer h2 {
    text-align: center;
}
h1 {
  text-align: center;
}

.volunteer-form {
  display: flex;
  justify-content: center;
  color: black;
  border-radius: 10px;
}


a {
  color: grey;
}

a:hover {
  color: rgb(174, 144, 237);
}


input {
  display: block;
  margin: 10px 0;
  text-align: center;
}

/* body {
  background-color: red;
} */
