body {
  max-width: 1200px;
  font-family: 'Merriweather', serif;
  min-width: 931px;
  margin: 0 auto;
}


#buttons {
  text-align: left;
}

.new-volunteer, #new-stray {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 40%;
  background: white;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid blue;
  text-align: center;
}

.new-volunteer h2 {
    text-align: center;
}
h1 {
  text-align: center;
}

.volunteer-form, #stray-form {
  display: flex;
  justify-content: center;
  color: black;
  border-radius: 10px;
}


a {
  color: grey;
}

a:hover {
  color: rgb(174, 144, 237);
}


input {
  display: block;
  margin: 10px 0;
  text-align: center;
  border: 1px solid black;
}

#friends {
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-friend {
  background: linear-gradient(white, rgb(158, 220, 249));
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px black;
  margin: 10px;
}

.new-friend img {
  display: flex;
  margin: 20px;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 5px black;
}

#about-us-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  box-shadow: 0 0 2px black;
  padding-bottom: 30px;
  background: linear-gradient(white, rgb(158, 220, 249));
}

#about-us-container img {
  width: 400px;
}

#about-us-container p {
  margin: 20px auto;
  width: 90%;
  text-align: left;
}
#welcome {
  display: flex;
  width: 20%;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px black;
  background: linear-gradient(white, rgb(158, 220, 249));
}
#user-homepage {
  text-align: center;
  color: blue;
}

#user-homepage:hover {
  color: white;
}

/* body {
  background-color: red;
} */
