body {
  font-family: 'Merriweather', serif;
}
.container {
  display: flex;
}

.content {
  height: 400px;
  display: flex;
  width: 25%;
  flex-direction: column;
  border: 1px dotted black;
  align-items: center;
  margin: 20px;
}

.stray-image {
  height: 200px;
  width: 200px;
}
