body {
  max-width: 1200px;
  font-family: 'Merriweather', serif;
  min-width: 931px;
  margin: 0 auto;
  box-shadow: 0 0 5px black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(white, rgb(158, 220, 249));
  height: 600px;
  margin: 40px auto;
  width: 40%;
  box-shadow: 0 0 5px black;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}


div img {
  height: 250px;
  width: 250px;
  box-shadow: 0 0 5px black;
}

/* div {
  padding: 5px;
} */

#showbuttons{
  display: flex;
}

#showbuttons button {
  margin: 0 10px;
}

.show-p {
  margin-top: 20px;
}
