body {
  max-width: 1200px;
  font-family: 'Merriweather', serif;
  min-width: 931px;
  margin: 0 auto;
}
.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.content {
  height: 400px;
  display: flex;
  width: 355px;
  flex-direction: column;
  box-shadow: 0 0 5px black;
  align-items: center;
  margin: 20px;
  background: linear-gradient(white, rgb(158, 220, 249));
}

.stray-image {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 5px black;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
