    <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../header.css">
        <link rel="stylesheet" href="../../main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <title></title>
    </head>
    <body>
      <% include ../partials/head.ejs %>
      <div id="container">
        <h1>Sign In</h1>
        <form action="/sessions" method="POST">
          Username: <input type="text" name="username" placeholder="username"/>
          Password: <input type="password" name="password"/>
          <input id="submit" type="submit" value="Log In">
        </form>
      </div>
    </body>
</html>

  </body>
</html>
