<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users" method="POST">
      Username: <input type="text" name="username" placeholder="username"/>
      Password: <input type="password" name="password"/>
      Name: <input type="text" name="name" placeholder="Your Name Here"/>
      Hours: <input type="text" name="hours" placeholder="hours separated by commas"/>
      Work w/ Cats: <input type="checkbox" name="catPref"/>
      Work w/ Dogs: <input type="checkbox" name="dogPref"/>
      Will foster? <input type="checkbox" name="foster"/>
      Currently Fostering: <input type="text" name="fostering" placeholder="hours separated by commas"/>
    </form>

  </body>
</html>
